

@{
    if (User.Identity.Name != "")
    {

        <li class="nav-item">
            <i class="fa fa-sign-out text-white"></i><a href="/Login/LogOut" class="nav-item text-white" style="margin:auto">Log Out</a>
        </li>
    }
    else
    {
        
<li class="nav-item">
    <i class="fa fa-sign-in text-white"></i><a href="/Login" class="nav-item text-white" style="margin:auto"> Log In</a>
</li>

    }
}


