*.css linguist-detectable=false
*.html linguist-detectable=false
*.c# linguist-detectable=false
###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
